.white__container {
  grid-column: 2;
  height: 97.3%;
  width: 96%;
  margin: auto;
  background-color: $secondary-color;
  border-radius: 12px;
  nav {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 8fr 2fr;
    align-items: center;
    justify-content: start;
    ul {
      padding: 0;
    }
    li {
      list-style-type: none;
      float: left;
      padding-right: 10px;
      h6 {
        font-size: 8px;
        font-weight: 900;
        margin: 0;
      }
    }
    img {
      grid-column: 2;
      height: 30px;
      width: 30px;
      border-radius: 50%;
    }
  }
}

.white-body {
  margin: 15px 20px;
  span {
    height: 25px;
    width: 25px;
    font-size: 8px;
    font-weight: 900;
    border-radius: 50%;
    background: #f8f7a9;
  }
}

h3 {
  font-weight: 300;
  strong {
    font-weight: 900;
  }
}
